body {
    font-family: Arial, sans-serif;
    margin: 0;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 55px;
  padding: 4px;
  font: 16px sans-serif;
  color: black;
  font-weight: 500;
  background: white;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
}

div {
    max-width: 960px;
}

p, h1, h2, h3, h4 {
    margin-left: 80px;
}

.serie_label {
    fill: #2b2929;
    font-family: Georgia;
    font-size: 80%;
}

.axis line {
    stroke: #706f6f;
    stroke-width: 0.5;
    shape-rendering: crispEdges;
}

/* axis contour */
.axis path {
    stroke: #706f6f;
    stroke-width: 0.7;
    shape-rendering: crispEdges;
}

/* axis text */
.axis text {
    fill: #2b2929;
    font-family: Georgia;
    font-size: 120%;
}

path {
    fill: none;
    /*stroke: #ed3700;*/
}

.closed {
    max-height: 0;
}

.float-container .custom-tooltip {
    display: none;
    background: white;
    border: black;
    border-width: thin;
}

.float-container:hover .custom-tooltip {
    display: block;
    position: fixed;
    overflow: hidden;
}

.grid line {
    stroke: darkgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 1;
}

.chartLine:hover {
    cursor: pointer;
}

.nav {
    color: inherit;
    text-align: center;
    cursor: pointer;
}

.nav:hover {
    color: BLUE;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: steelblue;
}

.focus text {
    font-size: 14px;
}

.tooltip {
    fill: white;
    stroke: #000;
}

.tooltip-year, .tooltip-wins {
    font-weight: bold;
}

.legend {
    background: aliceblue;
}

#view-toggle-btn {
    /*position: relative;*/
    float: right;
    color: red;
}



#view-toggle-btn:hover {
    color: darkblue;
}

.bubble {
    cursor: pointer;
}

.button {
    font: bold 14px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    cursor: pointer;
}
