body {
    font-family: Arial, sans-serif;
    word-wrap: break-word;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    padding: 0;
}

svg {
    margin: 5px 20px
}

.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}


/* Legend Position Style */
.map-legend {
   position:absolute;
   right:20px;
   top:120px;
}

.axis text {
 font: 10px sans-serif;
}

.axis line, .axis path {
 fill: none;
 stroke: #000;
 shape-rendering: crispEdges;
}

p, h1, h2, h3, h4 {
  margin-left: 80px;
}

h1 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(43,43,43, 0.8);
    color: #fff;
    border-radius: 2px;
}

.map-annotation .note-line,
.map-annotation .connector {
      stroke: red;
}

.map-annotation .annotation-note-label,
.map-annotation .annotation-note-title {
      fill: red;
}

.user {
  font-size: 14px;
  margin-right: 220px;
}

.nav {
  text-align: center;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

#nav-main {
  display: block;
  margin-top: 0px;
}

#nav-industry {
  display: none;
  float: left;
}

.para {
    clear: both;
}
