body {
    font-family: Arial, sans-serif;
    margin: 0;
}

svg {
    margin: 5px 20px
}

.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}


/* Legend Position Style */
.map-legend {
   position:absolute;
   right:20px;
   top:120px;
}

.axis text {
 font: 10px sans-serif;
}

.axis line, .axis path {
 fill: none;
 stroke: #000;
 shape-rendering: crispEdges;
}

p, h1, h2, h3, h4 {
  margin-left: 80px;
}

h1 {
    margin-bottom: 0px;
}

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(43,43,43, 0.8);
    color: #fff;
    border-radius: 2px;
}

.map-annotation {
    color: blue;
}
